@keyframes show {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media screen and (max-width:470px){
    .texte{
        margin-top: 20px ;
    }

    .modification{
        margin-top: 20px ;
    }

    .sect3{
        margin-top: 20px ;
    }
}


@media screen and (max-width: 525px) {
    .tableinfo{
        
        color: aqua;
    }
}


body{
    background-color: rgb(250, 250, 250);
    user-select: none;
    animation-duration: 2.5s ;
    animation-name: show ;
}

/* ------------------------------------------------------------------------------------------------ */
                                        /*NAVIGATION */
/* ------------------------------------------------------------------------------------------------ */
.navi{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: right;
}

.icon{
    width: 35px;
    height: 35px;
    opacity: 0.7;
    transition: 1s;
}

.icon:hover{
    opacity: 1;
    transition: 1s;
}

.inp{
    width: 400px ;
    margin: auto ;
    margin-top: 50px ;
}

.info{
    margin-top: 5px ;
}

.envoyer{
    width: 399px ;
    margin-top: 5px ;
}
/* ------------------------------------------------------------------------------------------------ */
                                        /*STUDENT INFO && SUBJECT */
/* ------------------------------------------------------------------------------------------------ */
.scroll{
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}

#studentinfo{
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: #f1f1f1 ;
    font-size: 40px ;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-top: 20px;
    transition: 2s ;

}

#studentinfo:hover{
    background-color: #e6e8e9 ;
    color: #007bff;
    border: 1px dashed #a7cffa;
    transition: 2s ;
}



.tableinfo{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
}

.sect2{
    text-align: center;
    color: rgb(31, 29, 29);
    margin-top: 50px;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 2px #444546 ;
}

.texte{
    border: 5px solid #007bff;
    border-radius: 5px;
}

.titre{
    background-color: #007bff;
    text-align: center;
    color: azure;
    border-radius: 0px 0px 5px 5px;
    font-weight: 700;
    box-shadow: 1px 8px 10px #5f5e5ec5;
    
}

.linksubStude{
    font-style: italic;
    font-weight: 700;
    height: 30px;
    background-color: #007bff;
}

.subtable{
    border:  5px solid #007bff4b;
    border-radius: 20px;
    transition: 2s;
}

.subtable:hover{
    border:  5px solid #007bff;
    transition: 2s;
}

.delete{
    font-weight: bold;
    border-radius: 50px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

#delete{

    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}



/* ------------------------------------------------------------------------------------------------ */
                                        /*DELETE */
/* ------------------------------------------------------------------------------------------------ */
.sect3{
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------ */
                                        /*login */
/* ------------------------------------------------------------------------------------------------ */
.login{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    background-color: rgba(82, 82, 231, 0.144);
    border: 2px solid #007bff;
    height: 40px;
    border-radius: 7px;
}

.pwd{
    margin-top: 10px;
    height: 40px;
}

.submit{
    text-align: end;
}

#sign{
    text-decoration:none;
    color: #4d9bee;
    cursor: grab;
}

#sign:hover{
    color: #007bff;
}



#profil{
    width: 230px;
    height: 230px;
    box-shadow: 0px 0px 100px #5f5e5ec5;
    border-radius: 250px;
}
/* ------------------------------------------------------------------------------------------------ */
                                        /*END */
/* ------------------------------------------------------------------------------------------------ */







